venv/
db/

WebSite/website/__pycache__/
Booking_Service/booking_service/__pycache__/

Booking_Service/db.sqlite3
WebSite/db.sqlite3

Booking_Service/booking_service/__init__.py
WebSite/website/__init__.py
