{% extends "partials/base.html" %}

{% block content %}


{% block content %} 
            
    <div class="row">
            <h1>Welcome To Tatkal Reservation</h1> 
    </div>

    <br>

    <!-- <h1> User id is  {{user_id}} </h1> -->
          
    <div class="row">
        <div class="row-content">

            <div class = 'col-sm-6'>    
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Departure Station</th>
                                <th scope="col">Destination Station</th>
                                <th scope="col">Tickets Left</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for train in trains %}
                            <tr >       
                                <td>{{ train.id }}</td>
                                <td>{{ train.name }}</td>
                                <td>{{ train.departure_station }}</td>
                                <td>{{ train.destination_station }}</td>
                                <td>  <span id="{{ train.id }}" > {{ train.tickets_left }} </span> </td> 

                                <td>


                                    
                                    <Button class='btn btn-primary' onclick="bookTicket({{ train.id }}, {{ train.tickets_left }})"> Book Now </Button>
                                </td> 
                            </tr>

                            {% endfor %} 
                            
                            </tbody>
                        </table>
                    </div>

            </div>
        </div>
    </div>
   

<script>

    function bookTicket(train_id, tickets_left)
    {

        if(tickets_left < 1)
        {
            alert("No Tickets left");
            return;
        }

        

        url = "{{request.build_absolute_uri}}"
        url = url + "book/"+train_id +"/" +tickets_left

        console.log(url)

        
        $.ajax({
        type: "GET",
        url: url,
        data: {
            
            },
                success: function(data){
                    alert("Booked Ticket Successfully");
                    //UpdateTicketCount(train_id, data.ticket_count);
                },

                error: function(error_data){
                    console.log(error_data);
                    alert("Cannot Book ticket");
                },

        });    

    }


    function UpdateTicketCount(train_id, ticket_count)
    {
        var arg = "#" + train_id.toString();
        $(arg).html(tickets_count);
    }



</script>

{% endblock %}